openapi: 3.0.0
info:
  title: API Fédération de Collectivités Agricoles
  description: |-
    API pour la gestion des collectivités agricoles, des membres, des mandats,
    des cotisations, de la trésorerie, des activités et de l'assiduité.
    Conforme au cahier des charges (PROG3-TD-Final-OAS.pdf).
    Version avec nouvelles fonctionnalités (B-2 et H) du 21/04/2026.
  version: 2.0.0
  contact:
    name: M. Ryan A.

servers:
  - url: https://api.federation-agricole.mg/v2
    description: Serveur de production

tags:
  - name: Collectivités (A)
    description: Ouverture et gestion des collectivités
  - name: Membres (B)
    description: Admission, changement et démission des membres (avec nouvelles conditions B-2)
  - name: Cotisations & Paiements (C)
    description: Encaissements, traçabilité et reversements
  - name: Trésorerie & Comptes (D)
    description: Gestion des comptes bancaires, mobile money et caisse
  - name: Activités (E)
    description: Activités obligatoires et exceptionnelles
  - name: Assiduité (F)
    description: Gestion des présences aux activités
  - name: Statistiques Collectivité (G)
    description: Rapports mensuels et indicateurs par collectivité
  - name: Statistiques Fédération (H)
    description: Rapports globaux mensuels et annuels de la fédération

paths:
  # ==================== A - OUVERTURE D'UNE NOUVELLE COLLECTIVITÉ ====================
  /collectivites:
    post:
      tags: [Collectivités (A)]
      summary: Demander l'ouverture d'une nouvelle collectivité
      operationId: creerCollectivite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectiviteInput'
      responses:
        '201':
          description: Collectivité créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collectivite'
        '400':
          description: Conditions non remplies

  /collectivites/{id}/autoriser:
    patch:
      tags: [Collectivités (A)]
      summary: Accorder l'autorisation formelle d'ouverture (fédération)
      operationId: autoriserCollectivite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Autorisation accordée

  # ==================== B - ADMISSION D'UN NOUVEAU MEMBRE (VERSION B-2) ====================
  /collectivites/{id}/membres/adhesion:
    post:
      tags: [Membres (B)]
      summary: Adhérer à une collectivité (nouvelles conditions B-2)
      description: |-
        **Nouvelles conditions (21/04/2026) :**
        - Être parrainé par **au moins deux membres confirmés** de la fédération
        - Règle de parrainage : le nombre de parrains issus de la collectivité cible doit être ≥ nombre de parrains des autres collectivités
        - Fournir ses informations personnelles + **nature de la relation avec chaque parrain** (famille, amis, collègues, etc.)
        - Payer les frais d'adhésion (50.000 Ar) + **l'intégralité des cotisations annuelles obligatoires** de la collectivité
      operationId: adhererMembreV2
      parameters:
        - name: id
          in: path
          description: ID de la collectivité visée
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdhesionInputV2'
      responses:
        '201':
          description: Membre admis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembreResponse'
        '400':
          description: |-
            Conditions non remplies :
            - Parrainage insuffisant
            - Règle des parrains non respectée
            - Paiement incomplet
        '403':
          description: "Refus d'admission (cas 4 : parrains tous externes)"

  /membres/{id}/changer-collectivite:
    post:
      tags: [Membres (B)]
      summary: Changer de collectivité (ex. déménagement)
      operationId: changerCollectivite
      parameters:
        - name: id
          in: path
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nouvelle_collectivite_id:
                  type: integer
      responses:
        '200':
          description: Changement effectué

  /membres/{id}/demissionner:
    post:
      tags: [Membres (B)]
      summary: Démissionner de la collectivité actuelle
      operationId: demissionner
      parameters:
        - name: id
          in: path
          required: true
      responses:
        '200':
          description: Démission enregistrée

  # ==================== C - COTISATION ET PAIEMENTS ====================
  /collectivites/{id}/encaissements:
    post:
      tags: [Cotisations & Paiements (C)]
      summary: Enregistrer un encaissement (trésorier)
      operationId: enregistrerEncaissement
      parameters:
        - name: id
          in: path
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncaissementInput'
      responses:
        '201':
          description: Encaissement enregistré

  /collectivites/{id}/cotisations-annuelles:
    get:
      tags: [Cotisations & Paiements (C)]
      summary: Obtenir le montant des cotisations annuelles obligatoires d'une collectivité
      operationId: getCotisationsAnnuelles
      parameters:
        - name: id
          in: path
          required: true
      responses:
        '200':
          description: Montant des cotisations annuelles
          content:
            application/json:
              schema:
                type: object
                properties:
                  collectivite_id:
                    type: integer
                  montant_cotisation_annuelle:
                    type: number
                    example: 200000

  /collectivites/{id}/reversements:
    post:
      tags: [Cotisations & Paiements (C)]
      summary: Reverser un pourcentage des cotisations à la fédération
      operationId: reverserFederation
      parameters:
        - name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                montant:
                  type: number
                date_reversement:
                  type: string
                  format: date
                pourcentage:
                  type: number
      responses:
        '201':
          description: Reversement enregistré

  # ==================== D - SITUATION DE TRÉSORERIE ====================
  /collectivites/{id}/comptes:
    get:
      tags: [Trésorerie & Comptes (D)]
      summary: Liste des comptes (caisse, bancaires, mobile money)
      operationId: listerComptes
      parameters:
        - name: id
          in: path
      responses:
        '200':
          description: Liste des comptes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Compte'
    post:
      summary: Ajouter un compte bancaire ou mobile money
      operationId: ajouterCompte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CompteBancaireInput'
                - $ref: '#/components/schemas/CompteMobileMoneyInput'
      responses:
        '201':
          description: Compte créé

  /federation/comptes:
    get:
      tags: [Trésorerie & Comptes (D)]
      summary: Comptes de la fédération
      operationId: listerComptesFederation
      responses:
        '200':
          description: OK

  /comptes/{id}/solde:
    get:
      tags: [Trésorerie & Comptes (D)]
      summary: Solde à une date donnée
      parameters:
        - name: id
          in: path
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Solde

  # ==================== E - ACTIVITÉS ====================
  /collectivites/{id}/activites:
    get:
      tags: [Activités (E)]
      summary: Activités d'une collectivité
      operationId: listerActivites
    post:
      summary: Créer une activité exceptionnelle
      operationId: creerActivite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteInput'

  /federation/activites:
    get:
      tags: [Activités (E)]
      summary: Activités nationales
    post:
      summary: Planifier une activité fédérale
      operationId: planifierActiviteFederale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteInput'

  # ==================== F - ASSIDUITÉ ====================
  /activites/{id}/presences:
    post:
      tags: [Assiduité (F)]
      summary: Relevé de présence par le secrétaire
      operationId: enregistrerPresences
      parameters:
        - name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PresenceInput'
      responses:
        '201':
          description: Présences enregistrées

  /membres/{id}/assiduite:
    get:
      tags: [Assiduité (F)]
      summary: Taux d'assiduité annuel du membre
      parameters:
        - name: id
          in: path
        - name: annee
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Taux d'assiduité

  # ==================== G - STATISTIQUES COLLECTIVITÉ ====================
  /collectivites/{id}/rapport-mensuel:
    post:
      tags: [Statistiques Collectivité (G)]
      summary: Rapport mensuel du président à la fédération
      operationId: envoyerRapportMensuel
      parameters:
        - name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mois:
                  type: string
                  format: date
                taux_assiduite_global:
                  type: number
                nb_membres_actifs:
                  type: integer
      responses:
        '201':
          description: Rapport reçu

  /collectivites/{id}/statistiques/membre/{membre_id}:
    get:
      tags: [Statistiques Collectivité (G)]
      summary: Statistiques détaillées d'un membre actif
      parameters:
        - name: id
          in: path
        - name: membre_id
          in: path
        - name: date_debut
          in: query
          schema:
            type: string
            format: date
        - name: date_fin
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: |-
            - Taux d'assiduité sur période
            - Montant encaissé
            - Montant impayé potentiel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatistiquesMembre'

  # ==================== H - STATISTIQUES DE LA FÉDÉRATION (NOUVEAU) ====================
  /federation/rapports/mensuels:
    post:
      tags: [Statistiques Fédération (H)]
      summary: Générer le rapport mensuel de la fédération
      description: |-
        Le secrétaire de la fédération recense mensuellement les données issues des collectivités.
        Ce rapport est utilisé lors des assemblées générales annuelles.
      operationId: genererRapportMensuelFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - periode
              properties:
                periode:
                  type: string
                  description: "Mois au format YYYY-MM"
                  example: "2026-03"
                inclure_tendances:
                  type: boolean
                  description: "Inclure la comparaison avec la période précédente"
                  default: false
      responses:
        '200':
          description: Rapport mensuel généré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportFederationMensuel'

  /federation/rapports/annuels:
    post:
      tags: [Statistiques Fédération (H)]
      summary: Générer le rapport annuel de la fédération
      description: |-
        Rapport annuel présenté lors de l'assemblée générale annuelle.
        Permet de féliciter les collectivités plus méritantes et d'identifier celles à améliorer.
      operationId: genererRapportAnnuelFederation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - annee
              properties:
                annee:
                  type: integer
                  example: 2026
                inclure_classement:
                  type: boolean
                  description: "Inclure le classement des collectivités"
                  default: true
      responses:
        '200':
          description: Rapport annuel généré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RapportFederationAnnuel'

  /federation/statistiques/collectivites:
    get:
      tags: [Statistiques Fédération (H)]
      summary: Obtenir les statistiques agrégées de toutes les collectivités
      parameters:
        - name: date_debut
          in: query
          schema:
            type: string
            format: date
        - name: date_fin
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Statistiques agrégées par collectivité
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatistiquesCollectivite'

# ==================== SCHÉMAS ====================
components:
  schemas:
    # --- A - Collectivités ---
    CollectiviteInput:
      type: object
      required: [nom_unique, ville, specialite_agricole]
      properties:
        nom_unique:
          type: string
        ville:
          type: string
        specialite_agricole:
          type: string

    Collectivite:
      allOf:
        - $ref: '#/components/schemas/CollectiviteInput'
        - type: object
          properties:
            id:
              type: integer
            numero_unique:
              type: string
            date_creation:
              type: string
              format: date
            autorisee:
              type: boolean
            montant_cotisation_annuelle:
              type: number
              description: "Montant des cotisations annuelles obligatoires imposées par la collectivité"
              example: 200000

    # --- B - Admission (Version B-2) ---
    ParrainageV2:
      type: object
      required:
        - parrain_id
        - nature_relation
      properties:
        parrain_id:
          type: integer
          description: "ID du membre confirmé qui parraine le candidat"
        nature_relation:
          type: string
          enum: [famille, amis, collegues, professionnel, autre]
          description: "Nature de la relation entre le candidat et le parrain"

    AdhesionInputV2:
      type: object
      required:
        - membre
        - parrainages
        - paiement
      properties:
        membre:
          $ref: '#/components/schemas/MembreInput'
        parrainages:
          type: array
          minItems: 2
          description: "Liste des parrainages (au moins 2 parrains confirmés)"
          items:
            $ref: '#/components/schemas/ParrainageV2'
        paiement:
          type: object
          required:
            - frais_adhesion
            - cotisations_annuelles
          properties:
            frais_adhesion:
              type: number
              const: 50000
              description: "50.000 Ar"
            cotisations_annuelles:
              type: number
              description: "Montant total des cotisations annuelles obligatoires de la collectivité"
            mode_paiement:
              type: string
              enum: [mobile money, virement bancaire, espece]
            reference_paiement:
              type: string
              description: "Référence du paiement (transaction ID, etc.)"

    MembreInput:
      type: object
      required:
        - nom
        - prenom
        - date_naissance
        - genre
        - adresse
        - metier
        - telephone
        - email
      properties:
        nom:
          type: string
        prenom:
          type: string
        date_naissance:
          type: string
          format: date
        genre:
          type: string
          enum: [feminin, masculin]
        adresse:
          type: string
        metier:
          type: string
        telephone:
          type: string
        email:
          type: string

    MembreResponse:
      type: object
      properties:
        id:
          type: integer
        nom:
          type: string
        prenom:
          type: string
        date_adhesion_federation:
          type: string
          format: date
        collectivite_actuelle:
          type: object
          properties:
            id:
              type: integer
            nom_unique:
              type: string
        role:
          type: string
          enum: [junior, confirme]
        parrains:
          type: array
          items:
            type: object
            properties:
              parrain_id:
                type: integer
                description: "ID du parrain"
              parrain_nom:
                type: string
              nature_relation:
                type: string

    # --- C - Encaissements ---
    EncaissementInput:
      type: object
      required:
        - id_membre
        - montant
        - date_encaissement
        - mode_paiement
        - type_cotisation
      properties:
        id_membre:
          type: integer
        montant:
          type: number
        date_encaissement:
          type: string
          format: date
        mode_paiement:
          type: string
          enum: [espece, virement, mobile money]
        type_cotisation:
          type: string
          enum: [mensuelle, annuelle, ponctuelle]

    # --- D - Comptes ---
    Compte:
      type: object
      discriminator:
        propertyName: type_compte
      properties:
        id:
          type: integer
        type_compte:
          type: string
          enum: [caisse, bancaire, mobile_money]
        solde:
          type: number
        date_solde:
          type: string
          format: date

    CompteBancaireInput:
      allOf:
        - $ref: '#/components/schemas/Compte'
        - type: object
          properties:
            titulaire:
              type: string
            nom_banque:
              type: string
              enum: [BRED, MCB, BMOI, BOA, BGFI, AFG, ACCES BANQUE, BAOBAB, SIPEM]
            code_banque:
              type: string
              pattern: '^\d{5}$'
            code_guichet:
              type: string
              pattern: '^\d{5}$'
            numero_compte:
              type: string
              pattern: '^\d{11}$'
            cle_rib:
              type: string
              pattern: '^\d{2}$'

    CompteMobileMoneyInput:
      allOf:
        - $ref: '#/components/schemas/Compte'
        - type: object
          properties:
            titulaire:
              type: string
            service:
              type: string
              enum: [Orange Money, Mvola, Airtel Money]
            numero_telephone:
              type: string

    # --- E - Activités ---
    ActiviteInput:
      type: object
      required: [titre, date_reference, obligation]
      properties:
        titre:
          type: string
        date_reference:
          type: string
          description: "ex: '2ème dimanche'"
        obligation:
          type: string
          enum: [tous, uniquement juniors, uniquement certains]

    # --- F - Présences ---
    PresenceInput:
      type: object
      required: [id_membre, present]
      properties:
        id_membre:
          type: integer
        present:
          type: boolean
        excuse:
          type: boolean
        est_invite:
          type: boolean

    # --- G - Statistiques Membre ---
    StatistiquesMembre:
      type: object
      properties:
        taux_assiduite:
          type: number
          format: float
          description: "Taux d'assiduité sur la période (0-100)"
        montant_encaisse:
          type: number
          description: "Montant total encaissé par le membre sur la période"
        montant_impaye_potentiel:
          type: number
          description: "Montant impayé potentiel sur la période"

    # ==================== H - STATISTIQUES FÉDÉRATION (NOUVEAU) ====================
    StatistiquesCollectivite:
      type: object
      properties:
        collectivite_id:
          type: integer
        collectivite_nom:
          type: string
        taux_assiduite_global:
          type: number
          format: float
          description: "Taux d'assiduité global de la collectivité sur la période"
        pourcentage_membres_a_jour_cotisation:
          type: number
          format: float
          description: "Pourcentage de membres à jour de leurs cotisations"
        nombre_nouveaux_adherents:
          type: integer
          description: "Nombre de nouveaux adhérents sur la période"
        nombre_membres_actifs:
          type: integer
        nombre_membres_juniors:
          type: integer
        nombre_membres_confirms:
          type: integer

    RapportFederationMensuel:
      type: object
      properties:
        periode:
          type: string
          description: "Mois au format YYYY-MM"
        date_generation:
          type: string
          format: date-time
        resume_global:
          type: object
          properties:
            total_collectivites:
              type: integer
            total_membres:
              type: integer
            taux_assiduite_moyen_federation:
              type: number
            pourcentage_global_membres_a_jour:
              type: number
            total_nouveaux_adherents:
              type: integer
        statistiques_par_collectivite:
          type: array
          items:
            $ref: '#/components/schemas/StatistiquesCollectivite'
        collectivite_la_plus_meritante:
          type: object
          properties:
            id:
              type: integer
            nom:
              type: string
            taux_assiduite:
              type: number
        collectivite_a_ameliorer:
          type: object
          properties:
            id:
              type: integer
            nom:
              type: string
            taux_assiduite:
              type: number

    RapportFederationAnnuel:
      type: object
      properties:
        annee:
          type: integer
        date_generation:
          type: string
          format: date-time
        rapports_mensuels:
          type: array
          description: "Récapitulatif des 12 mois"
          items:
            type: object
            properties:
              mois:
                type: string
              taux_assiduite_moyen:
                type: number
              nouveaux_adherents:
                type: integer
        bilan_annuel:
          type: object
          properties:
            evolution_taux_assiduite:
              type: object
              description: "Tendance sur l'année"
              properties:
                meilleur_mois:
                  type: string
                pire_mois:
                  type: string
                moyenne_annuelle:
                  type: number
            total_nouveaux_adherents_annee:
              type: integer
            collectivites_felicitations:
              type: array
              description: "Top 3 des collectivités les plus méritantes"
              items:
                $ref: '#/components/schemas/StatistiquesCollectivite'
            collectivites_amelioration:
              type: array
              description: "Bottom 3 des collectivités à améliorer"
              items:
                $ref: '#/components/schemas/StatistiquesCollectivite'